body{
  background-color: #F8E5CE;
}

.navs{
  background-image: linear-gradient(to right, #D09953, #bd9e5b, #cfaa79  );
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.267);
}

.side{
  background-color: #F5F2E7; /*D09953*/
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 0 0;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h1{
    font-weight: 700;
    font-size: 40px;
  }

  .topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topo button{
    background-color: #a47864;
    width: 120px;
    height: 40px;
    border-radius: 10px;
  }

  .editar{
    background-color: #a47864;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 5px;
  }

  .deletar{
    background-color: #8d6857;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 2px;
  }

  .drop{
    background-color: #a47864;
    border: transparent;
    color: white;
    border-radius: 20px;
  }
  
  .lybooks {
    height: 40px;
    width: 40px;
    margin-top: 5px;
  }

  .links_nav img{
    width: 20px;
    height: 20px;
  }

  .links_nav{
    color: #525252;
    font-weight: 600;
    font-size: 18px;
  }