body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8E5CE;
}
.nav_welcome a{
    margin: 10px 15px;
}

.nav_welcome {
    display: flex;              
    justify-content: space-between; 
    align-items: center;        
    background-color: #D09953;    
    color: white;               
}
.nav_welcome h1{
    margin-left: 40px;
    font-size: 20px;
}

.itens_nav {
    flex-grow: 1;               
    display: flex;  
    justify-content: center;
    font-size: 15px;
}

.itens_nav ul {
    display: flex;    
          
                
}

.itens_nav li {
    margin: 0 15px;             

}


.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d09a53d5;
    margin-top: 10px;
    height: 400px;
    flex-direction: column;
}

.inicio h1{
    font-size: 80px;
    color: #F8E5CE;
    font-weight: 800;
    

}

.wel_cartoes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 40px 40px;
}