@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Capriola&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8E5CE;
    font-family: Poppins;
}
.nav_welcome a{
    margin: 10px 15px;
}

.nav_welcome {
    display: flex;              
    justify-content: space-between; 
    align-items: center;        
    background-color: #013C3C;  
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.267);  
    color: white;     
    position: fixed;
    top: 0;
    right: 0;
    left: 0;          
}
.nav_welcome h1{
    margin-left: 40px;
    font-size: 20px;
}

.itens_nav {
    flex-grow: 1;               
    display: flex;  
    justify-content: center;
    font-size: 15px;
}

.itens_nav ul {
    display: flex;    
          
                
}

.itens_nav li {
    margin: 0 15px;             

}


.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d5151;
    height: 500px;
    flex-direction: column;
}

.inicio h1{
    font-size: 80px;
    color: #F8E5CE;
    font-weight: 800;
    

}

.wel_cartoes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 80px 150px;
}

.wel_cartoes span{
   font-size: 40px;
}

.livros{
    background-color: #0d5151;
    height: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 40px 180px;
    text-align: justify;
}

.livros_title{
    width: 600px;
    color: white;
}

.livros_title h1{
    font-size: 70px;
    color: #F8E5CE
}

.livros_title p{
    font-size: 30px;
}

.livros_card{
    width: 400px;
}

.editoras{
    height: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.editora_title{
    width: 500px;
    color: black;
}

.editora_title h1{
    font-size: 60px;
    color: #013C3C;
}

.editora_title p{
    font-size: 25px;
}

.editoras_card {
    height: 300px;
    width: 300px;
    margin-top: 60px;
}